<!-- <html>
<head>
<title>FootFall</title>
</head>


<body>
    <h1>Footfall</h1>
    <p align="center">Analysis is running . . .</p>
 </body>
 </html>


 -->
 <!DOCTYPE html>

 <html>


    <head>
       <style>
           h3{
            text-align: center;
            font-size: 100px;
        }
       </style>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />


    </head>

    <body>
      <py-script> 
        import flask
        from flask import Flask
        app = Flask(__name__)


        @app.route('/analyzing')
      </py-script>|
      <button> <a href="/analyzing">Run</a></button>

        <div style="width: 100%; text-align: center;">
            <img  src="https://lh3.googleusercontent.com/fIHiabSxo-m2y4COxODfXWQ75_ZKTpX3AYNciuGdsqk7Nz0Pwa0X0xUgZfi_MMk3iocG8n_vy4lStHCpkfN02ErTGIXYXIdhqODr9ioP3A" height="30%" width="40%"  />
        </div>


    </body>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    </html>



<html>
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>



<div class="center">
  <p style="color:yellow;font-size:60px;">Analysis is running . . . It will take forever!</p>
</div>

</body>
</html>
